[Unit]
Description=liuqin Android-style power-key policy
Documentation=file:///usr/local/libexec/liuqin-power-key-action
After=systemd-udevd.service systemd-logind.service
Wants=systemd-logind.service

[Service]
Type=simple
ExecStart=/usr/local/libexec/liuqin-power-keyd
Restart=always
RestartSec=1
TimeoutStopSec=7
UMask=0077
RuntimeDirectory=liuqin-power-keyd
RuntimeDirectoryMode=0755
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
CapabilityBoundingSet=CAP_SETUID CAP_SETGID

[Install]
WantedBy=multi-user.target
